extends layout

block content
  form(id="form-search")
    input(type="text", id="input-search" placeholder="Search...")
    input(type="submit")
  h1 Countries
  button(type="button" id="btn-countries") Load Countries
  #countries
  #search-results 